.akkad-gallery {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  margin-top: 15px !important;
  flex-wrap: wrap !important;
}

.akkad-thumb {
  width: 70px !important;
  height: 70px !important;
  object-fit: cover !important;
  border-radius: 12px !important;
  border: 2px solid #ddd !important;
  cursor: pointer !important;
  transition: 0.3s !important;
  background: #fff !important;
  overflow: hidden !important;
}

.akkad-thumb img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  display: block !important;
}

.akkad-thumb:hover {
  transform: scale(1.08);
  border-color: #004956 !important;
}

.akkad-thumb.active {
  border: 2px solid #d4af37 !important;
  transform: scale(1.08);
}

.fasty_product_card_img{
    object-fit: contain !important;
    background:#fff;
}
.fasty_product_card_img{
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.home_products_grid_container{

    gap:10px !important;

}
.fasty_product_card span[class*="top-0"]{

    top:10px !important;
    left:10px !important;

    border-radius:10px !important;

    padding:4px 10px !important;

}

@media (max-width:768px){
div.swiper-slide:nth-child(2){
  position: relative !important;
}
    
    #product-id > div.product_container.mx-auto.max-w-2xl.py-12.px-2.sm\:py-16.sm\:px-6.lg\:max-w-7xl.lg\:px-5.xl\:px-8.\!pt-4 > div > div.p_gallery_container.lg\:sticky.lg\:top-20.lg\:col-span-2 > div > div.product_gallery_btns_container.absolute.flex.items-center.max-lg\:bottom-5.max-lg\:start-2.z-20.gap-2.lg\:end-4.lg\:top-4{

        inset: 12px auto auto 12px !important;

    }


}
@media (max-width:768px){

    .fasty_product_card_name{

        min-height:84px !important;
        max-height:84px !important;

    }

}