.akkad-gallery {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  margin-top: 15px !important;
  flex-wrap: wrap !important;
}

.akkad-thumb {
  width: 70px !important;
  height: 70px !important;
  object-fit: cover !important;
  border-radius: 12px !important;
  border: 2px solid #ddd !important;
  cursor: pointer !important;
  transition: 0.3s !important;
  background: #fff !important;
  overflow: hidden !important;
}

.akkad-thumb img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  display: block !important;
}

.akkad-thumb:hover {
  transform: scale(1.08);
  border-color: #004956 !important;
}

.akkad-thumb.active {
  border: 2px solid #d4af37 !important;
  transform: scale(1.08);
}
@media (max-width:768px){
div.swiper-slide:nth-child(2){
  position: relative !important;
}
    .product_gallery_btns_container{
        position: absolute !important;
        top: 12px !important;
        left: 12px !important;
        z-index: 9999 !important;

    }

}